
/* vmlayout */

body {
    font: normal 1em helvetica, arial, sans-serif;
    margin: 0;
    width: 100%;
    background: #eee;
}

#header, #footer {height:50px; padding:5px 5%; color:#fff; background: #777}
#formdiv, #statediv {min-height: 600px;}
#statediv, #container {background:#ddd;}

#container {
    max-width: 86%;
    margin: 0 auto;
}
#formdiv {
    float:left;
    width:400px;
    padding: 10px 15px 10px 15px;
    background:#ccc;
}

.control-buttons {
    float:left;
    padding-top: 10px;
    margin-right: 15px;
}

#statediv {
    float:left;
    padding: 10px 15px 10px 15px;
}

#footer {
    clear:both;
}

#regtable {
    float: left;
    background:#ccc;
    width: 10em;
    margin-right: 15px;
}

#memtable {
    background:#eee;
    float: left;
}

th {
    text-align:left;
}

.regName {
    font-weight: bold;   
}

.highlight {
    background:#ffc;
}

